body {
  width: 125%;
  max-width: 1200px;
  margin: auto;
  background: url(fundosite.jpg) center;

  font-family: 'Lato';
  line-height: 2.5;

  color: white;
}

main {
  background: #000000a8;
  padding: 20px 40px;
  margin-top:200px;
  border-radius: 10px;
}

.logo, .Título, .Subtítulo {
  margin: 0;
  text-align: center;
}

.concerts {
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

.concerts table {
  background: #cb3a3ab3;
  border-radius: 10px;
  padding: 100px;
  margin: 0 auto;
}