html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: auto;
  width: 100%;
  max-width: 1200px;
  background: url(fundosite.jpg) center;

  font-family: 'Lato';
  line-height: 2.5;

  color: white;
}
main {
	background: #000000de;
	padding: 40px 80px;
	margin-top: 300px;
	border-radius: 30px;
	

  }

